* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3c213d;
}

.app {
    margin: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.ground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    aspect-ratio: 16/9;
    width: 100%;
}

.cursor {
    position: absolute;
    border-radius: 50%;
    border: solid 2px #fb06fb;
    background-color: transparent;
    width: 20px;
    aspect-ratio: 1/1;
    right: 0;
    top: 0;
}

.edit-panel {
    background-color: #22222e;
    width: 50%;
    padding: 0 25%;
}

.edit-panel * {
    color: white;
    outline: none;
    border: none;
}

.edit-panel .tools {
    position: relative;
    z-index: 5;
}

.edit-panel h2 {
    font-family: "Calibri", serif;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    font-size: 1.1vw;
}

.edit-panel .tools button,
.edit-panel .controls button,
.edit-panel .controls label,
.edit-panel .controls a {
    background-color: #34344a;
    padding: 0.5vw 0.7vw;
    border-radius: 15px;
    font-size: 1vw;
    margin-right: 0.7vw;
    transition: transform 0.5s;
    font-family: "Calibri", serif;
    font-weight: 500;
    border: solid 2px transparent;
}

.edit-panel .tools button:hover,
.edit-panel .controls button:hover,
.edit-panel .controls label:hover {
    cursor: pointer;
    color: deepskyblue;
    border-color: deepskyblue;
}

.edit-panel .controls a:hover {
    color: deepskyblue;
    background-color: white;
}

.edit-panel .tools button:active {
    background-color: #34344a;
}

.colors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 0.7vw;
    transition: all 0.5s;
    z-index: 0;
    position: relative;
}

.colors h2 {
    width: 100%;
}

.colors button {
    width: 1.98vw;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 35%;
    transition: transform 0.5s;
}

.colors .yellow {
    background-color: yellow;
}

.colors .lime {
    background-color: lime;
}

.colors .deepskyblue {
    background-color: deepskyblue;
}

.colors .purple {
    background-color: purple;
}

.colors .black {
    background-color: black;
}

.colors .white {
    background-color: white;
}

.colors button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.brush-size {
    display: flex;
    position: relative;
    z-index: 3;
}

.brush-size input {
    width: 100%;
}

.controls {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.edit-panel .controls a {
    background-color: dodgerblue;
    text-decoration: none;
}


.controls input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}



.hide {
    opacity: 0;
    margin-bottom: -5vw;
}
