* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.app {
    background-color: #3c213d;
    padding: 7vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ground {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    aspect-ratio: 16/9;
    width: 40vw;
}

.edit-panel {
    background-color: #22222e;
    width: 30vw;
    aspect-ratio: 16/9;
    padding: 0 5vw;
}

.edit-panel * {
    color: white;
    outline: none;
    border: none;
}

.edit-panel .tools {
    position: relative;
    z-index: 5;
}

.edit-panel h2 {
    font-family: "Calibri", serif;
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-size: 1.3vw;
}

.edit-panel .tools button,
.edit-panel .controls button,
.edit-panel .controls label,
.edit-panel .controls a {
    background-color: #34344a;
    padding: 1vw 1.3vw;
    border-radius: 15px;
    font-size: 1.1vw;
    margin-right: 1vw;
    transition: transform 0.5s;
    font-family: "Calibri", serif;
    font-weight: bold;
}

.edit-panel .tools button:hover,
.edit-panel .controls button:hover,
.edit-panel .controls label:hover {
    cursor: pointer;
    color: deepskyblue;
}

.edit-panel .controls a:hover {
    color: deepskyblue;
    background-color: white;
}

.edit-panel .tools button:active {
    background-color: #34344a;
}

.colors {
    display: flex;
    flex-wrap: wrap;
    column-gap:1vw;
    transition: all 0.5s;
    z-index: 0;
    position: relative;
}

.colors h2 {
    width: 100%;
}

.colors button {
    width: 2vw;
    aspect-ratio: 1/1;
    background-color: red;
    border-radius: 35%;
}

.colors .yellow {
    background-color: yellow;
}

.colors .lime {
    background-color: lime;
}

.colors .deepskyblue {
    background-color: deepskyblue;
}

.colors .purple {
    background-color: purple;
}

.colors .black {
    background-color: black;
}

.colors .white {
    background-color: white;
}

.colors button:hover {
    cursor: pointer;
}

.brush-size {
    display: flex;
    position: relative;
    z-index: 3;
}

.brush-size input {
    width: 80%;
}

.controls {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.edit-panel .controls a {
    background-color: dodgerblue;
    text-decoration: none;
}

.controls label {
    position: relative;
    display: inline-block;
}

.controls input[type="file"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}



.hide {
    opacity: 0;
    margin-bottom: -6vw;
}
